*.rpnow.net

status 410 /client-files/
status 410 /api/

tls {
    max_certs 10
}

redir {
    if {uri} is /
    if {uri} is /rp/demo
    if {uri} is /terms
    if_op or
    https://rpnow.net{uri}
}

header / X-Robots-Tag "noindex"

rewrite /rp/* guide.html
